<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>



<th:block th:replace="~{fragments/fragments :: bootstrap}"></th:block>
<title>home</title>
</head>
<body>
	<header th:replace="~{fragments/fragments :: header}"></header>

	<!-- WELCOME MESSAGE -->
	<div th:switch="${#authentication.authorities[0].toString()}">
		<h1 th:case="'ADMIN'">Welcome back Administrator</h1>
		<h1 th:case="'USER'">Welcome back
			[[${#authentication.principal.username}]]</h1>
		<div th:case="*">
			<h1>Welcome</h1>
			<p>If you want to be able to insert new content or be able to
				comment on the photos, remember to log-in</p>
		</div>
	</div>
	
	<!-- Carousel Bootstrap-->
	<div id="carouselCaptions" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button th:each="item,iterStat : ${categoryPhotoMap}" type="button"
				data-bs-target="#carouselCaptions"
				th:data-bs-slide-to="${iterStat.index}"
				th:class="${iterStat.index == 0} ? 'active'"
				aria-current="${iterStat.index == 0} ? 'true'"
				th:aria-label="'Slide ' + ${iterStat.count}"></button>
		</div>
		<div class="carousel-inner">
			<div th:each="item, counter : ${categoryPhotoMap}" class="carousel-item"
				th:classappend="${counter.index == 0}? 'active' : ''"
				data-bs-interval="10000">
				<img th:src="${item.value.url}" class="d-block w-100"
					th:alt="${item.value.description}">
				<h1></h1>
				<div class="carousel-caption d-none d-md-block">	
					<h1>[[${item.key}]]</h1>				
					<h5>[[${item.value.title}]]</h5>
					<p>[[${item.value.description}]]</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>

	



</body>
</html>